[submodule "data/w1-28-src"]
	path = data/w1-28-src
	url = https://github.com/StefanMaron/MSDyn365BC.Sandbox.Code.History.git
	branch = w1-28
	shallow = true
[submodule "data/docs"]
	path = data/docs
	url = https://github.com/MicrosoftDocs/dynamics365smb-docs.git
	branch = main
	shallow = true
[submodule "tools/cocoindex-code"]
	path = tools/cocoindex-code
	url = https://github.com/cocoindex-io/cocoindex-code.git
	branch = main
	shallow = true
[submodule "tools/tree-sitter-al"]
	path = tools/tree-sitter-al
	url = https://github.com/SShadowS/tree-sitter-al.git
	branch = main
	shallow = true
[submodule "tools/graphify-al"]
	path = tools/graphify-al
	url = https://github.com/StefanMaron/graphify-al.git
	branch = bc-code-atlas-fixes
	shallow = true
[submodule "data/docs-devitpro"]
	path = data/docs-devitpro
	url = https://github.com/MicrosoftDocs/dynamics365smb-devitpro-pb.git
	branch = main
	shallow = true
